.test-feedback {
  box-sizing: border-box;
  border-top: 1px solid var(--govuk-brand-colour, #1d70b8);
  padding: 20px 15px 25px;
  background-color: var(--govuk-surface-background-colour, #f4f8fb);
}

.test-feedback .govuk-body:last-child {
  margin-bottom: 0;
}

@media (min-width: 40.0625rem) {
  .test-feedback {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: calc(40.0625rem - 1px)) {
  .test-feedback {
    margin-left: 0;
    margin-right: 0;
  }
}
