<div class="test-feedback govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><%= t("feedback_link.heading") %></h2>
      <p class="govuk-body">
        <%= t("feedback_link.body_html", feedback_url: @feedback_url) %>
      </p>
    </div>
  </div>
</div>
